* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 60vh;
  margin: 0 auto;
  border: 2px solid black;
}
div {
  border: 2px solid red;
}
.display {
  height: 14vh;
  margin: 7px 0px;
}

.keys {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}
.btn {
  width: 60px;
  height: 50px;
  border: 2px solid blueviolet;
  text-align: center;
}
