<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <H2>Here is the Login Page </H2>
    <h3>That is written in ejs file </h3>
    <ul>Fruits
        <li>Apple</li>
        <li>Mango</li>
        <li>Banana</li>
        <li>Orange</li>
    </ul>
</body>
</html>