<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    p{
        text-align: center;
    }
    .box{
        border: 2px solid black;
        margin: 20px;
    }
</style>
<body>
    <div class="container">
        <%for(let user of Users){%>
            <div class="box">
                <p>Name : <%=user.username%></p>
                <p>Email : <%=user.email%></p>
                <p>City : <%=user.city%></p>
            </div>

        <%}%>
    </div>
</body>
</html>