<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <link rel="stylesheet" href="blog.css" />
  </head>
  <body>
    <h1>All Blogs</h1>
    <div>
      <% for(let blog of blogs){%>
      <h2>title : <%=blog.title%></h2>
      <img src="<%=blog.url%>" alt="" />
      <p>Desc :<%=blog.desc%></p>
      <%}%>
    </div>
  </body>
</html>
