.container {
  height: 40vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  height: 7vh;
  width: 4vw;
  border-radius: 100%;
  /* margin: 30px; */
  border: 2px solid red;
  text-align: center;
  padding: 20px;
}
.div1,
.div2,
.div3 {
  width: 40px;
  border: 2px solid gray;
}

.btn {
  display: flex;
  justify-content: center;
  justify-items: center;
}
button {
  margin: 15px;
  height: 5vh;
  width: 8vw;
}
